<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/css/party.css"/>
    <title>Homepagina</title>
</head>
<body>
<header class="site-header">
    <div class="container-fluid">
        <nav class="clearfix topnav">
            <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
            <a href="javascript:void(0);" class="icon" onclick="navToggle()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
    </div>
</header>
<main>
    <div class="container-content" th:if="${game}">
        <form th:action="@{|/admin/gamesedit/${game.id}|}" th:object="${game}" method="post">
            <div class="editButtonDiv">
                <a class="buttonLook smallButton" th:href="@{'/gamesdetails/' + ${game.id}}">back</a>
            </div>
            <div class="saveButtonDiv">
                <input type="submit" value="Save" class="buttonLook smallButton">
            </div>
            <h2 th:text="${game.getGameName()}">Naam game</h2>
            <div>
                <label for="gameName">Name : </label>
                <input type="text" id="gameName" th:field="*{gameName}">
            </div>
            <div>
                <label for="gameExtraInfo">Info : </label>
                <textarea id="gameExtraInfo" rows="5" cols="50" th:field="*{extraInfo}"></textarea>
            </div>
            <div>
                <label for="gameReleaseDate">Release Date : </label>
                <input type="date" id="gameReleaseDate" th:field="*{gameReleaseDate}">
            </div>
            <div>
                <label for="gameCrackedDate">Cracked Date : </label>
                <input type="date" id="gameCrackedDate" th:field="*{crackedDate}">
            </div>
            <div>
                <label for="gamePublisher">Publisher : </label>
                <input type="text" id="gamePublisher" th:field="*{publisher}">
            </div>
            <div>
                <label for="gameCrackedBy">Cracked by : </label>
                <input type="text" id="gameCrackedBy" th:field="*{crackedBy}">
            </div>
            <div>
                <label for="gameIsCrackedYes">Cracked ? :</label>
                <label for="gameIsCrackedYes" class="filtername">yes</label>
                <input type="radio" id="gameIsCrackedYes"value="true" th:field="*{cracked}">
                <label for="gameIsCrackedNo" class="filtername">no</label>
                <input type="radio" id="gameIsCrackedNo" value="false" th:field="*{cracked}">
            </div>
            <div>
                <label for="gameIsOnPlaystation4Yes">On playstation4 ? :</label>
                <label for="gameIsOnPlaystation4Yes" class="filtername">yes</label>
                <input type="radio" id="gameIsOnPlaystation4Yes"value="true" th:field="*{playstation4}">
                <label for="gameIsOnPlaystation4No" class="filtername">no</label>
                <input type="radio" id="gameIsOnPlaystation4No" value="false" th:field="*{playstation4}">
            </div>
            <div>
                <label for="gameIsOnPlaystation5Yes">On playstation5 ? :</label>
                <label for="gameIsOnPlaystation5Yes" class="filtername">yes</label>
                <input type="radio" id="gameIsOnPlaystation5Yes"value="true" th:field="*{playstation5}">
                <label for="gameIsOnPlaystation5No" class="filtername">no</label>
                <input type="radio" id="gameIsOnPlaystation5No" value="false" th:field="*{playstation5}">
            </div>
            <div>
                <label for="gameIsOnPcyes">On pc ? :</label>
                <label for="gameIsOnPcyes" class="filtername">yes</label>
                <input type="radio" id="gameIsOnPcyes"value="true" th:field="*{pc}">
                <label for="gameIsOnPcNo" class="filtername">no</label>
                <input type="radio" id="gameIsOnPcNo" value="false" th:field="*{pc}">
            </div>
            <div>
                <label for="gameIsOnXboxyes">On xbox ? :</label>
                <label for="gameIsOnXboxyes" class="filtername">yes</label>
                <input type="radio" id="gameIsOnXboxyes"value="true" th:field="*{xbox}">
                <label for="gameIsOnXboxNo" class="filtername">no</label>
                <input type="radio" id="gameIsOnXboxNo" value="false" th:field="*{xbox}">
            </div>
        </form>
    </div>  <div class="container-content" th:unless="${game}">
    <p>no game was chosen</p>
</div>
</main>
<script>
    function navToggle() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>